<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="img/favicon_io/tab_icon.png" type="image/tab_icon">
    <title>Sarvajank College Of Engineering & Technology &mdash;</title>
    <meta
      name="description"
      content="Free Bootstrap Theme by ProBootstrap.com"
    />
    <meta
      name="keywords"
      content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/Akash_css/img/logo3.jpg" type="image/x-icon"> 
    <link rel="stylesheet" href="/Akash_css/css/styles-merged.css" />
    <link rel="stylesheet" href="/Akash_css/css/style.min.css" />
    <link rel="stylesheet" href="/Akash_css/css/custom.css" />

  </head>
  <body>
    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"
        ><i class="icon-cross"></i
      ></a>
      <form action="#">
        <input
          type="search"
          name="s"
          id="search"
          placeholder="Search a keyword and hit enter..."
        />
      </form>
    </div>

    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->

      <div class="probootstrap-header-top" style="background-color: lavender">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info"
            >
              <span><i class="icon-location2"></i>For any inquiry</span>
              <span><i class="icon-phone2"></i>: +91-0261-2240146/47/48</span>
              <span><i class="icon-mail"></i>info@scet.ac.in</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
               
                <li>
                  <a
                    href="#"
                    class="probootstrap-search-icon js-probootstrap-search"
                    ><i class="icon-search"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical"></i></a>
            </div>
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a  href="/" class ="nav_heading" title="SCET" style="
            color: black;
            font-weight: 600;
        "><img src="/Akash_css/img/logomain.jpg" style="
              margin-top: 10px;
              height: 66px;
          "> COMPUTER DEPARTMENT
      </a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/getAllReseaarches">Research</a></li>
              <li><a href="/allProfessors">Faculty</a></li>
              <li><a href="/event">Events</a></li>
              <!-- <li><a href="gallery.html">Gallery</a></li> -->
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>


      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 text-left section-heading probootstrap-animate"
            >
              <h1 class="mb0">Contact Us</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row probootstrap-gutter0">
                <div class="col-md-4" id="probootstrap-sidebar">
                  <div
                    class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate"
                  >
                    <h3>Pages</h3>
                    <ul class="probootstrap-side-menu">
                      <li><a href="/">Home</a></li>
                      <li><a href="/getAllReseaarches">Research</a></li>
                      <li><a href="/allProfessors">Faculty</a></li>
                      <li><a href="/event">Events</a></li>
                      <li class="active"><a>Contact Us</a></li>
                    </ul>
                  </div>
                </div>
                <div
                  class="col-md-7 col-md-push-1 probootstrap-animate"
                  id="probootstrap-content"
                >
                  <h2>Get In Touch</h2>
                  <p>Contact with our Admin</p>
                  <form  class="probootstrap-form">
                    <div class="form-group">
                      <label for="name"><b>Full Name</b></label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="email"><b>Email</b></label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="subject"><b>Subject</b></label>
                      <input
                        type="text"
                        class="form-control"
                        id="subject"
                        name="subject"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="message"><b>Message</b></label>
                      <textarea
                        cols="30"
                        rows="10"
                        class="form-control"
                        id="message"
                        name="message"
                        required
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <button
                        class="btn btn-primary btn-lg"
                        id="submit"
                      >
                        Send Mail
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2
                class="probootstrap-animate"
                data-animate-effect="fadeInRight"
              >
              <span class="probootstrap-icon">
                <i class="icon-quotes-left"></i>
              </span>Move about the world and make as much of a difference and as much change as you can.<span class="probootstrap-icon">
                <i class="icon-quotes-right"></i>
              </span>
              </h2>
              
               
            </div>
          </div>
        </div>
      </section>
      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <img src="/Akash_css/img/logo_footer.jpeg" width="200" height="200"><br>
                <br>
                <h3>Social</h3>
                <ul class="probootstrap-footer-social">
                  <li>
                    <a href="https://twitter.com/ScetSurat?s=08" target="_blank"><i class="icon-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/SCET.Social" target="_blank"><i class="icon-facebook"></i></a>
                  </li>
                 
                  <li>
                    <a href="https://www.youtube.com/channel/UCXy4Mvs64zNQl407vInl6fw" target="_blank"><i class="icon-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-md-push-1">
              <div class="probootstrap-footer-widget">
                <h3>Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/getAllReseaarches">Research</a></li>
                  <li><a href="/allProfessors">Faculty</a></li>
                  <li><a href="news.html">News</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li>
                    <i class="icon-location2"></i>
                    <span
                      >Sarvajanik College of Engineering and Technology,Dr. R.K.
                      Desai Marg, Opp. Mission Hospital, Athwalines, Surat –
                      395001 Gujarat, India
                    </span>
                  </li>
                  <li><i class="icon-mail"></i><span>info@scet.ac.in</span></li>
                  <li>
                    <i class="icon-phone2"></i
                    ><span>+91-0261-2240146/47/48</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>
                  &copy; 2021
                  <!-- <a href="https://probootstrap.com/">ProBootstrap:Enlight</a>. -->
                  All Rights Reserved. Designed and Developed 
                   by Team DATA pirates
                  <!-- <a href="https://probootstrap.com/">ProBootstrap.com</a> -->
                </p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p>
                  <a href="#" class="js-backtotop"
                    >Back to top <i class="icon-arrow-long-up"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- END wrapper -->

    <script src="/Akash_css/js/scripts.min.js"></script>
    <script src="/Akash_css/js/main.min.js"></script>
    <script src="/Akash_css/js/custom.js"></script>
    <script src="/Akash_css/js/contact.js"></script>
  </body>
</html>
