<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="img/favicon_io/tab_icon.png" type="image/tab_icon">
    <title>Sarvajank College Of Engineering & Technology &mdash;</title>
    <meta
      name="description"
      content="Free Bootstrap Theme by ProBootstrap.com"
    />
    <meta
      name="keywords"
      content="free website templates, free bootstrap themes, free template, free bootstrap, free website template"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Akash_css/css/styles-merged.css" />
    <link rel="stylesheet" href="/Akash_css/css/style.min.css" />
    <link rel="stylesheet" href="/Akash_css/css/custom.css" />


  </head>
  <body>
    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"
        ><i class="icon-cross"></i
      ></a>
      <form action="#">
        <input
          type="search"
          name="s"
          id="search"
          placeholder="Search a keyword and hit enter..."
        />
      </form>
    </div>

    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->

      <div class="probootstrap-header-top" style="background-color: lavender">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info"
            >
              <span style="font-size: 19px"><i class="icon-locati">For any inquiry </i></span>
              <span style="font-size: 19px"><i class="icon-phone2"> </i>: +91-0261-2240146/47/48</span>
              <span style="font-size: 19px"><i class="icon-mail"></i>info@scet.ac.in</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li>
                  <a href="#"> <span style="font-size: 19px;"><i class="icon-twitter"></i></span> </a>
                </li>
                <li>
                  <a href="#"> <span style="font-size: 19px;"> <i class="icon-facebook2"></i></span></a>
                </li>
                <li>
                  <a href="#"> <span style="font-size: 19px;"><i class="icon-instagram2"></i></span> </a>
                </li>
                <li>
                  <a href="#"> <span style="font-size: 19px;"><i class="icon-youtube"></i></span> </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="probootstrap-search-icon js-probootstrap-search"
                    > <span style="font-size: 19px;"><i class="icon-search"></i
                      ></span> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical"></i></a>
            </div>
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a  href="/" class ="nav_heading" title="SCET"><img src="/Akash_css/img/logomain.jpg" style="
              margin-top: 10px;
              height: 66px;
          "> | COMPUTER DEPARTMENT
      </a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/getAllReseaarches">Research</a></li>
              <li><a href="/allProfessors">Faculty</a></li>
              <li><a href="/event">Events</a></li>
              <!-- <li><a href="gallery.html">Gallery</a></li> -->
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 text-left section-heading probootstrap-animate"
            >
              <h1> <span style="font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;;">Events Calender</span> </h1>
              <h2>Upcoming events happening on the Stanford campus</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section" style="margin-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                 
                  <h3> <span style="background: linear-gradient(110deg,pink 20%,rgb(182, 182, 247) 20%,white 40%,rgb(204, 199, 199) 50%, rgb(226, 226, 122)); font-size: 30px;">Exuberance 2K21</span> </h3>
                  <p>
                    Quis explicabo veniam labore ratione illo vero voluptate a
                    deserunt incidunt odio aliquam commodi
                  </p>
                  <p>
                    <span class="probootstrap-date"
                      ><i class="icon-calendar"></i>July 9, 2017</span
                    >
                    <span class="probootstrap-location"
                      ><i class="icon-location2"></i>White Palace, Brooklyn,
                      NYC</span
                    >
                  </p>
                
                </div>
                <div
                  class="probootstrap-image probootstrap-animate"
                  style="background-image: url(/Akash_css/img/exuberance.jpeg)"
                >
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section" style="margin-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div
                  class="probootstrap-image probootstrap-animate"
                  style="background-image: url(/Akash_css/img/innotech.jpeg)"
                >
                 
                </div>
                <div class="probootstrap-text probootstrap-animate">
                  
                  <h3> <span style="color: hotpink; font-size: 40px;">UPDATES 2020</span> </h3>
                  <p>
                    Quis explicabo veniam labore ratione illo vero voluptate a
                    deserunt incidunt odio aliquam commodi
                  </p>
                  <p>
                    <span class="probootstrap-date"
                      ><i class="icon-calendar"></i>July 9, 2017</span
                    >
                    <span class="probootstrap-location"
                      ><i class="icon-location2"></i>White Palace, Brooklyn,
                      NYC</span
                    >
                  </p>
                 
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section" style="margin-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  
                  <h2><span style="color: red;">H</span> <span style="color: green;">A</span> <span style="color: rgb(63, 63, 231);">C</span> <span style="color: rgb(235, 194, 11);">K</span> <span style="color: green;">B</span> <span style="color: red;">A</span> <span style="color: rgb(63, 63, 231);">S</span> <span style="color: red;"></span> <span style="color: green;">H</span></h2>
                  <p>
                   <p style="font-style: italic; font-size: 20px; font-weight: bold;"> <span style="color: green; font-size: 25px;">Think,</span> <span style="background-color: green;"> <span style="color: honeydew; font-size: 25px;">Code,</span> </span> <span style="color: green; font-size: 25px;"> Innovate.</span>  </p>
                    Alliance of 8 Developer Student Clubs (DSC) across Gujarat brings you a 24 hour Hackathon. <br>

                    A chance to complete and win in Higher Leagues. <br>

                    so Gather your team and gear up: <br>

                    Register Here <br>

                    <a href=" https://dsc-hackbash-2021.web.app/"> https://dsc-hackbash-2021.web.app/</a>
                  </p>
                  <p>
                    <span class="probootstrap-date"
                      ><i class="icon-calendar"></i>July 9, 2017</span
                    >
                    <span class="probootstrap-location"
                      ><i class="icon-location2"></i>White Palace, Brooklyn,
                      NYC</span
                    >
                  </p>
                  
                </div>
                <div
                  class="probootstrap-image probootstrap-animate"
                  style="background-image: url(/Akash_css/img/hackbash.jpeg)"
                >
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div
                  class="probootstrap-image probootstrap-animate"
                  style="background-image: url(/Akash_css/img/ieee.jpeg)"
                >
                  
                </div>
                <div class="probootstrap-text probootstrap-animate">
                  
                  <h3> <span style="color: 40px;"> Let's crack it - Future thinking now </span></h3>
                  <p>
                    The purpose of this event is to give students an appreciation of what to expect in a typical interview and an opportunity to refine their interviewing skills. 
                  </p>
                  <p>
                    <span class="probootstrap-date"
                      ><i class="icon-calendar"></i> 03/04/2021 </span
                    >
                    <span class="probootstrap-location"
                      ><i class="icon-location2"></i>Online Event</span
                    >
                    <span class="probootstrap-date"
                      ><i class="icon-calendar"></i> Registration Below </span
                    >
                    <span class="probootstrap-date"
                      ><a href="http://bit.ly/ieee-letscrackit ">http://bit.ly/ieee-letscrackit</a>  </span
                    >
                  </p>
                  <!-- <p><a href="#" class="btn btn-primary">Learn More</a></p> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="probootstrap-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2
                class="probootstrap-animate"
                data-animate-effect="fadeInRight"
              >
              <span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Events and things to do from across campus</span> 
              </h2>
             
            </div>
          </div>
        </div>
      </section>
   
      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <img src="/Akash_css/img/logo_footer.jpeg" width="200" height="200"><br>
                <br>
                <h3>Social</h3>
                <ul class="probootstrap-footer-social">
                  <li>
                    <a href="https://twitter.com/ScetSurat?s=08" target="_blank"><i class="icon-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/SCET.Social" target="_blank"><i class="icon-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-github"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/channel/UCXy4Mvs64zNQl407vInl6fw" target="_blank"><i class="icon-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-md-push-1">
              <div class="probootstrap-footer-widget">
                <h3>Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/getAllReseaarches">Research</a></li>
                  <li><a href="/allProfessors">Faculty</a></li>
                  <li><a href="news.html">News</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li>
                    <i class="icon-location2"></i>
                    <span
                      >Sarvajanik College of Engineering and Technology,Dr. R.K.
                      Desai Marg, Opp. Mission Hospital, Athwalines, Surat –
                      395001 Gujarat, India
                    </span>
                  </li>
                  <li><i class="icon-mail"></i><span>info@scet.ac.in</span></li>
                  <li>
                    <i class="icon-phone2"></i
                    ><span>+91-0261-2240146/47/48</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>
                  &copy; 2021
                  <!-- <a href="https://probootstrap.com/">ProBootstrap:Enlight</a>. -->
                  All Rights Reserved. Designed and Developed 
                   by Team DATA pirates
                  <!-- <a href="https://probootstrap.com/">ProBootstrap.com</a> -->
                </p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p>
                  <a href="#" class="js-backtotop"
                    >Back to top <i class="icon-arrow-long-up"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- END wrapper -->

    <script src="/Akash_css/js/scripts.min.js"></script>
    <script src="/Akash_css/js/main.min.js"></script>
    <script src="/Akash_css/js/custom.js"></script>
  </body>
</html>
